# Dependencies
node_modules
.pnpm-store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build outputs
dist
dist-node
*.local
.turbo

# Environment files
.env
.env.local
.env.*.local
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Testing & Reports
coverage
.nyc_output

# Misc
*.tsbuildinfo
.cache
